.entry
  %h2
    %a{:href => "/entries/#{entry[:key]}"}
      = entry[:title]
  .entry_body= entry[:body]
  .entry_status= entry[:updated_at]
  - if logged_in?
    .entry_actions
      %a{:href => "/entries/#{entry[:key]}/edit"} edit
      %a{:href => "/entries/#{entry[:key]}/delete"} delete
